@import url(../fonts/fonts.css);
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/bg.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GothamRoundedMedium", Helvetica, sans-serif;
  font-size: 14px;
  color: #3d3b54;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "GothamRoundedMedium", Helvetica, sans-serif;
  color: #3d3b54;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1040px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header header" "main sidebar" "footer footer";
  grid-gap: 40px;
}

header {
  grid-area: header;
}

header .top-panel {
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .main-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 5px solid #dff0f7;
}

header nav {
  padding: 0 8em;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav li {
  list-style-type: none;
}

header nav li a {
  padding: 8px 12px;
  border-radius: 7px;
}

header nav li a.active {
  background-color: #9d6ad8;
  color: white;
}

header nav li a:hover {
  background-color: #96d019;
  color: white;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
}

.main-news {
  grid-row: 1/2;
}

.main-news_small {
  grid-row: 1/2;
}

.most-recent {
  grid-row: 2/3;
  grid-column: 1 / span 3;
  padding-left: 2em;
}

.most-recent .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.most-popular {
  grid-row: 3/4;
  grid-column: 1 / span 3;
  padding-left: 2em;
}

.most-popular .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-flex-basis: 23%;
  -ms-flex-preferred-size: 23%;
  flex-basis: 23%;
  margin-right: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card .card-content {
  height: 160px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card .card-content img {
  width: 100%;
  max-width: 120px;
}

.card .card-bottom {
  border-top: 1px solid #ddd;
  padding: 8px;
}

.card .card-bottom h3 {
  margin: 0 0 5px 0;
}

.card .card-bottom small {
  color: #96d019;
}

aside {
  grid-area: sidebar;
}

footer {
  grid-area: footer;
  display: block;
}

footer .main-footer {
  background-color: #e7e7e7;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  min-height: 180px;
}

footer .main-footer .social {
  margin: 0;
}

footer .main-footer .social li {
  display: inline-block;
  margin-right: 1.6em;
}

footer .copyright {
  padding: 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  min-height: 60px;
  background-color: #9d6ad8;
}
