@import url(../fonts/fonts.css);
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/bg.png") center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "GothamRoundedMedium", Helvetica, sans-serif;
  font-size: 14px;
  color: #3d3b54;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "GothamRoundedMedium", Helvetica, sans-serif;
  color: #3d3b54;
}

h3, h4, h5 {
  letter-spacing: 1px;
}

a {
  text-decoration: none;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 25px;
  width: 100%;
  font-family: "GothamRoundedMedium", Helvetica, sans-serif;
}

select:focus {
  outline: none;
}

.btn-hoopla {
  padding: 8px 12px;
  background-color: #96d019;
  color: white;
  border-radius: 50px;
  margin-top: 0;
}

.btn-hoopla:hover {
  background-color: #75a214;
  margin-top: -1px;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.coolgreen {
  color: #96d019;
}

.container {
  max-width: 1040px;
  background-color: #f9f9f9;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "header header" "main sidebar" "footer footer";
  grid-gap: 0 40px;
}

header {
  grid-area: header;
  margin-bottom: 3em;
}

header .top-panel {
  font-size: 12px;
  padding: 10px 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .main-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 5px solid #dff0f7;
}

header nav {
  padding: 0 8em;
  min-height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

header nav li {
  list-style-type: none;
  position: relative;
}

header nav li a {
  padding: 8px 12px;
  border-radius: 7px;
}

header nav li a.active {
  background-color: #9d6ad8;
  color: white;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

header nav li a:hover {
  background-color: #96d019;
  color: white;
}

header nav li .children {
  display: none;
  position: absolute;
  min-width: 140px;
  bottom: -158px;
  z-index: 10;
  border: 1px solid #ddd;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

header nav li .children li {
  background-color: #f3f3f3;
}

header nav li .children li:first-child {
  border-radius: 7px 7px 0 0;
}

header nav li .children li:last-child {
  border-radius: 0 0 7px 7px;
}

header nav li .children li a {
  border-bottom: 1px solid #ddd;
  line-height: 2;
  display: block;
  border-radius: 0;
}

header nav li.has-children:hover .children {
  display: block;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(auto, 300px) 1fr 1fr;
}

.main-news {
  grid-row: 1/2;
  padding: 0 2em;
}

.main-news .carousel {
  background: transparent;
}

.main-news .carousel .flickity-viewport {
  border-radius: 8px;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

.main-news .carousel .carousel-cell {
  position: relative;
  width: 100%;
  height: 350px;
  margin-right: 10px;
  background: #9d6ad8;
  border-radius: 5px;
}

.main-news .carousel .carousel-cell .caption {
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.main-news .carousel .carousel-cell .caption h3 {
  color: white;
  font-size: 3em;
  letter-spacing: 1px;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.8);
}

.main-news .carousel .flickity-prev-next-button {
  background: #9d6ad8;
}

.main-news .carousel .flickity-prev-next-button .arrow {
  fill: white;
}

.main-news .carousel .flickity-prev-next-button.previous {
  left: -20px;
}

.main-news .carousel .flickity-prev-next-button.next {
  right: -20px;
}

.main-news .carousel .flickity-page-dots {
  position: absolute;
  width: auto;
  bottom: 25px;
  right: 10px;
}

.main-news .cta {
  min-height: 120px;
  position: relative;
}

.main-news .cta .image {
  margin-bottom: 20px;
}

.main-news .cta h4 {
  font-size: 1.2em;
  line-height: 1.4;
  margin: 0;
  width: 80%;
}

.main-news .cta .absolutely {
  position: absolute;
  bottom: -20px;
  right: -20px;
  width: 140px;
}

@media screen and (min-width: 768px) {
  .main-news .carousel-cell img {
    width: 100%;
  }
}

.main-news_small {
  grid-row: 1/2;
}

.main-news_small > div {
  padding: 15px;
  height: 140px;
  margin-bottom: 15px;
  background: url("../img/more.png") center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.main-news_small > div:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.main-news_small > div h3 {
  font-size: 1.6em;
  color: white;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 25px;
}

.most-recent {
  grid-row: 2/3;
  grid-column: 1 / span 3;
  padding: 4em 2em 2em 2em;
  background-color: white;
  border-bottom: 1px solid #dff0f7;
  border-radius: 0 7px 0 0;
}

.most-recent h4 {
  margin: 0 0 25px 0;
  position: relative;
  padding-left: 2em;
  font-size: 1.3rem;
}

.most-recent h4:before {
  content: '';
  background: url(../img/bird.png) center;
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  position: absolute;
  left: -10px;
  top: -15px;
}

.most-recent .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.most-popular {
  grid-row: 3/4;
  grid-column: 1 / span 3;
  padding: 4em 2em;
  background-color: white;
}

.most-popular h4 {
  margin: 0 0 25px 0;
  position: relative;
  padding-left: 2em;
  font-size: 1.3rem;
}

.most-popular h4:before {
  content: '';
  background: url(../img/bird.png) center;
  background-size: 30px;
  background-repeat: no-repeat;
  width: 40px;
  height: 50px;
  position: absolute;
  left: -10px;
  top: -15px;
}

.most-popular .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.card {
  -webkit-flex-basis: 24%;
  -ms-flex-preferred-size: 24%;
  flex-basis: 24%;
  margin-right: 15px;
  border-radius: 8px;
}

.card:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
}

.card:hover .card-bottom h3 {
  color: #3d3b54;
}

.card:hover .card-content img {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.card:last-child {
  margin-right: 0;
}

.card .card-content {
  height: 160px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  background-color: #fbdfdb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.card .card-content.softblue {
  background-color: #dff0f7;
}

.card .card-content.softpurple {
  background-color: #e0d0e2;
}

.card .card-content img {
  width: 100%;
  max-width: 120px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card .card-bottom {
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 8px 10px;
}

.card .card-bottom h3 {
  font-size: 14px;
  margin: 0 0 5px 0;
  color: #999;
}

.card .card-bottom small {
  color: #96d019;
}

aside {
  grid-area: sidebar;
  padding-right: 20px;
  overflow: hidden;
}

aside .sort {
  padding-bottom: 35px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

aside .sort h4 {
  margin-top: 0;
}

aside .promo-sidebar {
  margin-bottom: 30px;
}

aside .promo-sidebar .bg {
  background: url("../img/promo1.jpg") center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  padding: 20px;
  height: 140px;
}

aside .promo-sidebar .bg h3 {
  margin: 0;
  margin-bottom: 25px;
  color: white;
  font-size: 2.4em;
}

aside .cta-sidebar {
  overflow: hidden;
  background: url(../img/baby-calling.png);
  background-position: -40px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  min-height: 140px;
  position: relative;
}

aside .cta-sidebar > div {
  float: right;
  padding-top: 20px;
  width: 70%;
}

aside .cta-sidebar > div h3 {
  margin: 0;
  margin-bottom: 12px;
  font-size: 1.6em;
}

aside .cta-sidebar img {
  position: relative;
  left: -40px;
  width: 100%;
}

footer {
  grid-area: footer;
  display: block;
}

footer .main-footer {
  background-color: #e7e7e7;
  background: url("../img/patt.jpg") center;
  background-blend-mode: luminosity;
  padding-top: 70px;
  margin: 0 auto;
  text-align: center;
  min-height: 220px;
}

footer .main-footer h4 {
  margin-bottom: 20px;
}

footer .main-footer .social {
  margin: 0;
}

footer .main-footer .social li {
  display: inline-block;
  margin-right: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9d6ad8;
}

footer .main-footer .social li:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

footer .main-footer .social li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: white;
  line-height: 3;
}

footer .main-footer .social li i {
  font-size: 14px;
}

footer .copyright {
  padding: 0 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
  min-height: 60px;
  background-color: #9d6ad8;
}

#about {
  grid-template-columns: 1fr;
  grid-template-areas: "header header" "main main" "footer footer";
}

#about main {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 0 2em;
}

.image {
  /*Kind of helper class*/
}

.image img {
  width: 100%;
}

.first {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.first > div:first-child {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.first > div:first-child .why-us {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.first > div:first-child .why-us > div {
  padding: 15px;
  background-color: white;
  border-radius: 7px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.first > div:first-child .why-us > div:hover {
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.09), 0 17px 50px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
}

.first > div:first-child .why-us > div span {
  position: absolute;
  right: 0;
  top: -20px;
  display: inline-block;
  text-align: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9d6ad8;
}

.first > div:first-child .why-us > div span i {
  font-size: 2em;
  line-height: 2.2;
  color: white;
}

.first > div:first-child .why-us > div h4 {
  color: #96d019;
  font-size: 1.6rem;
  margin: 0 0 10px 0;
  padding-top: 20px;
}

.first > div:first-child .why-us > div p {
  line-height: 1.6;
}

.first > div:first-child h2 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #96d019;
}

.first > div:first-child p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.first .image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
