
#header_main {
	background: #96d019;
}

#sidebar_main .sidebar_main_header .sidebar_logo {
	height: initial;
    line-height: 48px;
    overflow: hidden;
    display: flex;
}

#sidebar_main .sidebar_main_header .sidebar_logo a {
    display: block;
    margin-left: 0;
}

.dataTables_wrapper .dt-uikit-header {
    padding: 4px 8px;
    margin-bottom: 30px;
}

.uk-alert-success {
    background: #c58eef !important;
}

th.number-order {
    max-width: 40px;
}

th.action-order {
    max-width: 50px;
}

.uk-table thead th {
    border-bottom: 2px solid rgba(124, 179, 66, 0.73);
}

label, .dataTables_wrapper .uk-table thead .sorting, .selectize-control.single .selectize-input:after {
    color: #96d019;
}

.md-input-wrapper .md-input-bar:after, .md-input-wrapper .md-input-bar:before {
    background: #96d019;
}

.uk-tab > li.uk-active > a {
    background: 0 0!important;
    border-bottom-color: #96d019;
}

.uk-tab > li > a {
    color: #bbb;
}

.selectize-control.single .selectize-input {
    border-width: 0 0 1px;
    padding: 8px 8px 9px 0;
}

input[type=text].md-input {
    padding: 12px 0;
}
